.profile-search-form {
  padding: 16px 20px;
  background: var(--dark-col);
  border: 1px solid var(--light-col);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 40px;
}
