<div class="profile-card">
  <div class="avatar-name">
    <img src="assets/images/Img.png" alt="avatar" class="profile-card__avatar" />

    <div class="profile-card__name">
      <strong class="h6">Alex Bredunz</strong>
      <span>Ahetle</span>
    </div>
  </div>

  <div class="profile-card__desc">
    Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать
    о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>

  <div class="profile-card__profile-tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">React</div>
    <div class="skill-tag">Vue</div>
    <div class="skill-tag">JavaScript</div>
  </div>

  <div class="profile-card__action-buttons">
    <div class="btn">Подписаться</div>
  </div>
</div>
