@import 'fonts';

:root {
  --dark-col: #000;
  --light-col: #fff;
  --primary-col: #ae7aff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  background: var(--dark-col);
  color: var(--light-col);
}

.skill-tag {
  border: 1px solid var(--light-col);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  display: inline;
  font-weight: 700;
  height: 24px;
}

.btn {
  border: none;
  background-color: var(--primary-col);
  color: var(--dark-col);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}
